
.container {
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center;    /* Canh giữa theo chiều dọc */
    height: 100vh;          /* Chiều cao toàn màn hình */
}
.login-container {
    margin-top: 10px;
    max-width: 500px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.login-header {
    text-align: center;
    margin-bottom: 5px;
}
.login-container .form-control {
    margin-bottom:5px;
}
.other-options {
    text-align: center;
    margin-top: 20px;
}
.other-options button {
    background-color: white;
    width: 50px;
    height: 50px;
    margin:20px;
}
.login-footer {
    text-align: center;
}
.remember-me {
    float: left;
}
.forgot-password {
    float: right;
}
.separator {
    text-align: center;
}
